html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    margin: 0 auto;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.logo {
    width: 180px;
}

main {
    margin: 0 auto 20px auto;
    padding: 60px 0 0 0;
    display: flex;
}

.mockups {
    width: 55%;
    object-fit: contain;
}

section {
    width: 45%;
    padding: 20px 20px 60px 40px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 32px;
    width: 90%;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    margin: 30px 0;
    line-height: 1.5em;
}

button {
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 9em;
    font-family: 'Poppins', sans-serif;
    color:hsl(257, 40%, 49%);
    font-weight: 600;
    font-size: 16px;
    box-shadow: 5px 5px 5px 2px rgba(5, 5, 5, 0.2);
}

button:hover {
    background-color:hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: flex-end;
}

ion-icon {
    font-size: 32px;
    color: white;
    padding: 0 7px;
}

ion-icon:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.attribution {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px; text-align: center;
    margin: 5px 0 0 0;
    width: 100%;
}

.attribution a {
    color: white;
}

@media all and (max-width: 850px) {
    body {
        background-color: hsl(257, 40%, 49%);
        background-image: url(./images/bg-mobile.svg);
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    .mockups {
        margin: 0 auto;
        width: 90%;
        max-width: 400px;
    }

    section {
        width: auto;
        max-width: 700px;
        padding: 10px;
    }

    p, h1 {
        width: auto;
        margin: 40px auto;
        max-width: 700px;
        text-align: center;
    }

    button {
        width: 250px;
        display: block;
        margin: 40px auto;
    }

    .social {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .attribution {
        visibility: hidden;
    }
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/*
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Violet: hsl(257, 40%, 49%)
- Soft Magenta: hsl(300, 69%, 71%)

## Typography

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 600

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400

## Icons

For the social icons, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com/)
- [IcoMoon](https://icomoon.io/)
- [Ionicons](https://ionicons.com/)

*/